*
{
    text-decoration: none;
}
.backimg
{
    
    background-position: center;
    background-size: cover;
}
.overlay
{
    height: 750px;
    background-color: rgba(0, 128, 128, 0.308);
}

.newsfront
{
    position: relative;
    top: -29px;  
}
.newsback
{
    position: relative;
    top: -2px;
}
marquee
{
    position: relative;
    top: 20px;
}
.icon
{
    color: blanchedalmond;
    font-weight: 400;           
    position: relative;
    top: 20px;
    left: 20px;
}
#icon1
{
    background-color:rgba(172, 38, 15, 0.932); 
    letter-spacing: 1px;
    padding: 5px 15px;
    margin-right: 15px; 
               
}
#icon2
{
    background-color:rgba(0, 128, 128, 0.678);     
    letter-spacing: 1px;
    padding: 5px 15px;
    margin-right: 15px;
}
#icon3
{
    background-color:rgba(172, 38, 15, 0.932);     
    letter-spacing: 1px;
    padding: 5px 15px;
    margin-right: 15px;
}
#icon4
{
    background-color:rgba(0, 128, 128, 0.678);      
    letter-spacing: 1px;
    padding: 5px 15px;
    margin-right: 15px;
}
.content p
{
    background-color: rgba(95, 158, 160, 0.212);
    color: white;
}
.overforum
{
    width: 100vw;
    height: 1800px;
    background-color: rgba(255, 99, 71, 0.178);
}
#section1
{
    position: relative;
}

heading
{
    font-size: 25px;
    color: white;
    font-weight: 600;
    position: relative;
    left: 40px;
    top: 10px;
}
.container
{
    position: relative;
    left: 40px;
    top: 70px;
}
.show
{
    display: inline-block;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 700px;
    top: 15px;
}
select
{
    width: 200px;

}
.drop
{
    display: inline-block;
    position: absolute;
    left: 770px;
    top: 19px;
}
.box
{
    margin-top: 70px;
    background-color: rgba(0, 128, 128, 0.507);
    width: 900px;
    height: 240px;
    position: relative;
    left: 50px;
}
.photo
{
    position: relative;
    top: 30px;
    left: 30px;
    border-radius: 60px;
}
.update
{
    position: relative;
    left: 150px;
    bottom: 30px;
    
}
.name
{
    font-size: 18px;
    font-weight: 600;
    color: rgb(209, 53, 26);
}
.status
{
    color: grey;
}
.date
{
    position: relative;
    top: 5px;
    font-size: 14px;
    font-weight: 500;
}
.comment
{
    position: relative;
    top: 20px;
    color: white;
    letter-spacing: 0.5px;
}
.morepages
{
    position: relative;
    top: 70px;
    left: 430px;
}
.more1
{
    display: inline-block;
    color: black;
    font-weight: 700;
    background-color: rgb(218, 66, 40);
    width: max-content;
    padding: 5px 13px;
    border-radius: 50px;
    position: relative;
    margin-right: 10px;
}
.more1:hover
{
    background-color:black ;
    color: white;
}
#footer
{
    margin-top: 0px;
}